<div id="sideMenu">
    <div id="menuIconContainer">
        <div class="menuIcon"></div>
        <div class="menuIcon"></div>
        <div class="menuIcon"></div>
    </div>
    <div class="iconsContainer">
        <mat-icon (click)="GoHome()" class="icon">home</mat-icon> 
        <mat-icon (click)="GoActivityZone()" class="icon">place</mat-icon>
        <mat-icon (click)="GoFriendList()" class="icon">supervisor_account</mat-icon>
        <mat-icon (click)="GoNotificationsList()" class="icon">notifications_active</mat-icon> 
        <mat-icon (click)="GoNotificationsList()" class="icon">help_outline</mat-icon> 
        <mat-icon (click)="Logout()" class="icon">exit_to_app</mat-icon> 
    </div>
</div>
