<div id="LoginPageContainer">
    <div id="Title">Registration</div>
    <app-textfield-text [placeholder]="'Insert Name'"></app-textfield-text>
    <app-textfield-text [placeholder]="'Insert Surname'"></app-textfield-text>
    <app-textfield-email  [placeholder]="'Insert Email'" ></app-textfield-email>
    <app-textfield-psw  [placeholder]="'Insert Password'" ></app-textfield-psw>
    <app-custom-button id="buttonRegister" (click)="onClickFunction()" [buttonText]="'Register'"></app-custom-button>
    <div id="Redirect" routerLink="/login" >Permi qui per tornare al login!</div>
</div>
