<div id="LoginPageContainer">
    <div id="TitleLogin">ActivityTime</div>
    <app-textfield-email  id="LoginEmailTextfield" [placeholder]="'Insert Email'" ></app-textfield-email>
    <app-textfield-psw  id="LoginPasswordTextfield" [placeholder]="'Insert Password'" ></app-textfield-psw>
    <app-custom-button id="buttonLogin" (click)="onClickFunction()" [buttonText]="'Login'"></app-custom-button>
    <div id="Redirect" routerLink="/register" >Don't have an account yet? Click here!</div>
</div>

<div id="Introduction">
    <div id="TextIntro2">
        <span id="TextIntroTitle">About Us</span>
        <span id="Text1">Activity Time is a web platform for creating and sharing your activities.</span>
        <span id="Text2">Within ActivityTime you will be able to save your private daily activities,</span>
        <span id="Text3">create personal group activities by sharing them with your friends,</span>
        <span id="Text4">or make an activity public and accessible to anyone who wants,</span>
        <span id="Text5">with the "Activity Zone" module that allows you to do</span>
        <span id="Text6">real-time searches of public activities</span>
        <span id="Text7">present by area, so you can know</span>
        <span id="Text8">opportunities around you and</span>
        <span id="Text9">take part immediately.</span>
        <span id="Text10">welcome!</span>
    </div>
</div>
<div id="TextIntro">
    <span id="TextIntroTitle">About Us</span>
        <span id="Text1">Activity Time is a web platform for creating and sharing your activities.</span>
        <span id="Text2">Within ActivityTime you will be able to save your private daily activities,</span>
        <span id="Text3">create personal group activities by sharing them with your friends,</span>
        <span id="Text4">or make an activity public and accessible to anyone who wants,</span>
        <span id="Text5">with the "Activity Zone" module that allows you to do</span>
        <span id="Text6">real-time searches of public activities</span>
        <span id="Text7">present by area, so you can know</span>
        <span id="Text8">opportunities around you and</span>
        <span id="Text9">take part immediately.</span>
        <span id="Text10">Welcome!</span>
</div>


