<div id="LoginPageContainer">
    <div id="TitleLogin">ActivityTime</div>
    <app-textfield-email  id="LoginEmailTextfield" [placeholder]="'Insert Email'" ></app-textfield-email>
    <app-textfield-psw  id="LoginPasswordTextfield" [placeholder]="'Insert Password'" ></app-textfield-psw>
    <app-custom-button id="buttonLogin" (click)="onClickFunction()" [buttonText]="'Login'"></app-custom-button>
    <div id="Redirect" routerLink="/register" >Se non hai ancora un account, clicca Qui</div>
</div>

<div id="Introduction">
    <div id="TextIntro2">
        <span id="TextIntroTitle">About Us</span>
        <span id="Text1">ActivityTime è un piattaforma web per la crezione e condivisione delle tue attività.</span>
        <span id="Text2">All'interno di ActivityTime potrai salvare le tue attività quotidiane private,</span>
        <span id="Text3">creare attività personali di gruppo condividendole con i tuoi amici,</span>
        <span id="Text4">o rendere un'attività pubblica e accessibile a chiunque voglia,</span>
        <span id="Text5">tramite il modulo "ActivityZone" che ti consentirà di fare</span>
        <span id="Text6">ricerche in tempo reale delle attività pubbliche</span>
        <span id="Text7">presenti per zona, cosi da poter conoscere</span>
        <span id="Text8">in temporeale le occasioni attorno a te</span>
        <span id="Text9">e prendere subito parte.</span>
        <span id="Text10">Benvenuto!</span>
    </div>
</div>
<div id="TextIntro">
    <span id="TextIntroTitle">About Us</span>
    <span id="Text1">ActivityTime è un piattaforma web per la crezione e condivisione delle tue attività.</span>
    <span id="Text2">All'interno di ActivityTime potrai salvare le tue attività quotidiane private,</span>
    <span id="Text3">creare attività personali di gruppo condividendole con i tuoi amici,</span>
    <span id="Text4">o rendere un'attività pubblica e accessibile a chiunque voglia,</span>
    <span id="Text5">tramite il modulo "ActivityZone" che ti consentirà di fare</span>
    <span id="Text6">ricerche in tempo reale delle attività pubbliche</span>
    <span id="Text7">presenti per zona, cosi da poter conoscere</span>
    <span id="Text8">in temporeale le occasioni attorno a te</span>
    <span id="Text9">e prendere subito parte.</span>
    <span id="Text10">Benvenuto!</span>
</div>


