<div id="HomePageContainer">
    <div id="Title">ActivityTime</div>
    <!-- <div class="activityManager">
        <div class="containerActivity">
            <div class="activityPublic">
                <div class="titleContainer">
                    <span class="title" id="activityTitle">P</span>
                </div>
                
            </div>
            <span>Public</span>
        </div>
        <div class="containerActivity">
            <div class="activityRestricted">
                <div class="titleContainer">
                    <span class="title" id="activityTitle">R</span>
                </div>
                
            </div>
            <span>Restricted</span>
        </div>
        <div class="containerActivity">
            <div class="activityPrivate">
                <div class="titleContainer">
                    <span class="title" id="activityTitle">PR</span>
                </div>
                
            </div>
            <span>Private</span>
        </div>
        <div class="containerAddActivityButton">
            <mat-icon (click)="OpenAddActivityPanel()" class="iconAddActivity">add_circle_outline</mat-icon>
        </div>

    </div> -->
    <div class="containerAddActivityButton">
        <mat-icon (click)="OpenAddActivityPanel()" class="iconAddActivity">add_circle_outline</mat-icon>
    </div>
    <div id="UserDetails">
        <img id="UserImage" src="/assets/user-photo/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes.png" alt="none">
        <span class="UserDetailsText">{{Username}}</span>
        <span class="UserDetailsText">{{UserSurname}}</span>
    </div>

    <div id="SliderMonth">
        <div id="prevContainer" (click)="prevContainerOnClick()">
            <div class="arrows prev"></div>
        </div>
        <div id="MonthInfo">{{currentMonthString}}</div>
        <div id="nextContainer" (click)="nextContainerOnClick()">
            <div class="arrows next"></div>
        </div>
    </div>
    

    <div id="PanelMonthAct">
        <ng-container *ngFor="let item of onChangeMonthList">
            <app-day-act [day]="item.toString()" [month]="currentMonthNumber+1" [activityListInput]="monthsActivities[currentMonthNumber]" (emitter)="ActivityInfoTrigger($event)"></app-day-act>
        </ng-container>
    </div>
    <router-outlet></router-outlet>
</div>


<app-side-menu (menuNavigateEmitter)="menuNavigate($event)"></app-side-menu>

<div *ngIf="!hideComponentOverflow" id="infoActivity" [ngClass]="showActivityInfo ? 'infoActivityShow' : 'infoActivityNotShow'">
    <div id="infoContainer">
        <div class="exitActivityInfoIcon">
            <mat-icon (click)="closeActivityInfoPanel()">cancel</mat-icon>
        </div>
        <div class="infoActivityRow">
            <span class="infoActivityRowTitle">Title</span>
            <div class="infoActivityRowData">{{activityDataModel.title + "  (" + activityDataModel.type + ")" }}</div>
        </div>
        <div class="infoActivityRow" *ngIf="activityDataModel.description.length > 0">
            <span class="infoActivityRowTitle">Description</span>
            <div class="infoActivityRowData">{{activityDataModel.description}}</div>
        </div>
        <div class="infoActivityRow">
            <span class="infoActivityRowTitle">City</span>
            <div class="infoActivityRowData">{{activityDataModel.city}}</div>
        </div>

        <div class="infoActivityRow">
            <span class="infoActivityRowTitle">Address</span>
            <div class="infoActivityRowData">{{activityDataModel.address}}</div>
            <div class="infoActivityRowData"><app-map [address]="address" [city]="city"></app-map></div>
            
        </div>

        
        <div class="infoActivityRow">
            <span class="infoActivityRowTitle">Date</span>
            <div class="infoActivityRowData">{{activityDataModel.date.getDate() + "-" +(activityDataModel.date.getMonth()+1) + "-"+ activityDataModel.date.getFullYear()}}</div>
        </div>

        <div class="infoActivityRow">
            <span class="infoActivityRowTitle">Time Start - Time End</span>
            <div class="infoActivityRowData">{{activityDataModel.timeStart + " - " + activityDataModel.timeEnd}}</div>
        </div>

        <div class="infoActivityRow">
            <span class="infoActivityRowTitle">Founder Data</span>
            <div class="infoActivityRowData"><b>Name: </b>{{activityDataModel.founder.name}}</div>
            <div class="infoActivityRowData"><b>Surname: </b>{{activityDataModel.founder.surname}}</div>
            <div class="infoActivityRowData"><b>Email: </b>{{activityDataModel.founder.email}}</div>
        </div>
        

        <div class="infoActivityRow" *ngIf="activityUserListModel.length > 0">
            <span class="infoActivityRowTitle">Partecipants List</span>
            <div *ngFor="let data of activityUserListModel">
                <br>
                <b>({{activityUserListModel.indexOf(data)+1}})</b>
                <div class="infoActivityRowData"><b>Name: </b>{{data.name}}</div>
                <div class="infoActivityRowData"><b>Surname: </b>{{data.surname}}</div>
                <div class="infoActivityRowData"><b>Email: </b>{{data.email}}</div>
            </div>
            
        </div>
    

        

    </div>
</div>

<div *ngIf="!hideComponentOverflow" id="addActivity" [ngClass]="showAddActivity ? 'addActivityShow' : 'addActivityNotShow'">
    <div id="addActivityContainer">
        <div class="exitAddActivityIcon">
            <mat-icon (click)="closeAddActivityPanel()">cancel</mat-icon>
        </div>
        <div class="inputDataActiviy">
            <app-text-filed-add-act-text id="newActivityTitle" [placeholder]="'Title*'"></app-text-filed-add-act-text>
            <app-text-filed-add-act-text id="newActivityDescription" [placeholder]="'Description'"></app-text-filed-add-act-text>
            <app-text-filed-add-act-text id="newActivityCity" [placeholder]="'City*'"></app-text-filed-add-act-text>
            <app-text-filed-add-act-text id="newActivityAddress" [placeholder]="'Address*'"></app-text-filed-add-act-text>
            <div id="dataPicker"> 
                <span class="infoActivityRowTitle" style="margin-left: 0px;font-size: 16px;">Activity Type</span>
                <mat-radio-group id="newActivityType"  (change)="OnTypeChange($event.value)">
                    <mat-radio-button value="P">Public (P)</mat-radio-button>
                    <mat-radio-button value="R">Restricted (R)</mat-radio-button>
                    <mat-radio-button value="PR" [checked]="typeNewActivity === 'PR'">Private (PR)</mat-radio-button>
                </mat-radio-group>
            </div>
            
            
            
            <div id="dataPicker"> 
                <span id="titleDateNewActivity" class="infoActivityRowTitle" style="font-size: 16px;">Date*</span>
                <mat-form-field color="accent" appearance="fill">
                    <mat-label>Date</mat-label>
                    <input #input matInput [matDatepicker]="picker1" (dateInput)="OnDateChange($event.value)">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
                    <mat-datepicker #picker1 ></mat-datepicker>
                </mat-form-field>
            </div>
            <span id="timeStartTitle" class="infoActivityRowTitle" style="margin-left: -10px;font-size: 16px;">Time Start*</span>
            <ngb-timepicker #timePicker1 [(ngModel)]="timeStartNewActivity"></ngb-timepicker>

            <span id="timeEndTitle" class="infoActivityRowTitle" style="margin-left: -10px;font-size: 16px;">Time End*</span>
            <ngb-timepicker #timePicker2 [(ngModel)]="timeEndNewActivity"></ngb-timepicker>

           
            <div id="dataPicker" style="margin-top: 0px;" *ngIf="friendList.length > 0"> 
                <span class="infoActivityRowTitle" style="font-size: 16px; padding-bottom:15px">Add Friend</span>
                <div class="container-friend-list">
                    <section class="example-section" style="display: flex; flex-direction:column;">
                        <ng-container *ngFor="let friend of friendList">
                            <mat-checkbox #checkboxes style="margin-top: 4px; color:white" (change)="getUserInvite($event)" class="example-margin" value="{{friend.email}}" [disabled]="typeNewActivity != 'R' && typeNewActivity != 'P'">{{friend.name}} {{friend.surname}}</mat-checkbox>
                        </ng-container>
                    </section>
                </div>
                
                
                
            </div>    
            

            <div class="containerAddNewActivityButton">
                <mat-icon (click)="AddNewActivity()" class="iconAddActivity">add_circle_outline</mat-icon>
            </div>

            

        </div>
    </div>
</div>