<div id="HomePageContainer">
    <div id="Title">ActivityTime</div>
    <div id="UserDetails">
        <img id="UserImage" src="/assets/user-photo/user-photo-default.png" alt="none">
        <span class="UserDetailsText">Name</span>
        <span class="UserDetailsText">Surname</span>
    </div>

    <div id="SliderMonth">
        <div id="prevContainer">
            <div class="arrows prev"></div>
        </div>
        <div id="MonthInfo">Gennaio</div>
        <div id="nextContainer">
            <div class="arrows next"></div> 
        </div>
    </div>

    <div id="PanelMonthAct">
        <div class="RowPanelMonthAct">
            <app-day-act></app-day-act>
            <app-day-act></app-day-act>
            <app-day-act></app-day-act>
            <app-day-act></app-day-act>
            <app-day-act></app-day-act>
        </div>

        <div class="RowPanelMonthAct">
            <app-day-act></app-day-act>
            <app-day-act></app-day-act>
            <app-day-act></app-day-act>
            <app-day-act></app-day-act>
            <app-day-act></app-day-act>
        </div>

        <div class="RowPanelMonthAct">
            <app-day-act></app-day-act>
            <app-day-act></app-day-act>
            <app-day-act></app-day-act>
            <app-day-act></app-day-act>
            <app-day-act></app-day-act>
        </div>

        <div class="RowPanelMonthAct">
            <app-day-act></app-day-act>
        </div>
    
    </div>
    
</div>
