div{
    width: 101%;
    position: relative;
    display: inline-block;
    flex-direction: column;
    background-color: rgb(135, 171, 238);
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    border-radius: 30px;
}

.column{
    display: flex;
    flex-direction: column;
    text-align: center;
    width:100%;
    font-size: 15px;
    overflow: hidden;
    padding-left: 25px;
    margin-top: 5px;
}

.data{
    margin-top: 3px;
    font-weight: normal;
}

.iconNoOversize{
    position: relative;
    transform: scale(1.7);
    z-index: 10;
}

.icon{
    background-color: transparent;
    position: absolute;
    transform: scale(1.7);
    z-index: 10;
}
.iconsContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 10%;
    color: white;
}
.phoneIcon{
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    top: 30px;
    width: 95%;
    color: white;
    z-index: 30;
}

.phoneIcon2{
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 10px;
    right: 20px;
    width: 100%;
    color: white;
    z-index: 30;
}


#icon1Desk{
    display: none;
}

#icon2Desk{
    display: none;
}




//Desktop
@media only screen and (min-width: 500px){
    .phoneIcon{
        display: none;
    }
    .phoneIcon2{
        display: none;
    }
    #icon1Desk{
        display:flex;
    }
    
    #icon2Desk{
        display: flex;
    }
    div{
        width: 101%;
        height: 65px;
        display: flex;
        flex-direction: row;
        background-color: rgb(135, 171, 238);
        justify-content: space-around;
        align-items: center;
        color: white;
        overflow: hidden;
        border-radius: 0px;
    }
    
    .column{
        display: flex;
        flex-direction: column;
        text-align: center;
        width:25%;
        font-size: 15px;
        overflow: hidden;
    }
    
    .data{
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: normal;
    }
    
    .iconNoOversize{
        position: relative;
        transform: scale(1.7);
        z-index: 10;
    }
    
    .icon{
        position: relative;
        transform: scale(1.7);
        z-index: 10;
    }
    .iconsContainer{
        display: flex;
        flex-direction: column;
        width: 10%;
        
        color: white;
    }
    .icon:hover{
        cursor: pointer;
        transform: scale(2);
        transition: transform 0.2s ease-in-out;
    }
    .icon:not(:hover){
        transform: scale(1.7);
        transition: transform 0.2s ease-in-out;
    }
}